[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://github.com/kahovka/DataProcessingPandas/blob/master/DataExploration.ipynb)

In [ ]:
import numpy as np
import pandas as pd

In [45]:
pd.options.display.float_format = '${:,.2f}'.format

In [144]:
ks_data = pd.read_csv('../../Datasets/kickstarter-projects/ks-projects-201801.csv')
"Data consists of {} rows and {} columns".format(*ks_data.shape)

'Data consists of 378661 rows and 15 columns'

In [145]:
ks_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [146]:
ks_data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,"$1,000.00",2015-08-11 12:12:28,$0.00,failed,0,GB,$0.00,$0.00,"$1,533.95"
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,"$30,000.00",2017-09-02 04:43:57,"$2,421.00",failed,15,US,$100.00,"$2,421.00","$30,000.00"
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,"$45,000.00",2013-01-12 00:20:50,$220.00,failed,3,US,$220.00,$220.00,"$45,000.00"
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,"$5,000.00",2012-03-17 03:24:11,$1.00,failed,1,US,$1.00,$1.00,"$5,000.00"
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,"$19,500.00",2015-07-04 08:35:03,"$1,283.00",canceled,14,US,"$1,283.00","$1,283.00","$19,500.00"

In [162]:
ks_data[ks_data.goal>ks_data.usd_goal_real].size

342562

In [163]:
ks_data[ks_data.goal<=ks_data.usd_goal_real].size

3822709

In [147]:
ks_data = ks_data.drop(columns=['ID', 'category', 'deadline', 'launched'])
ks_data.head()

,name,main_category,currency,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,The Songs of Adelaide & Abullah,Publishing,GBP,"$1,000.00",$0.00,failed,0,GB,$0.00,$0.00,"$1,533.95"
1,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,USD,"$30,000.00","$2,421.00",failed,15,US,$100.00,"$2,421.00","$30,000.00"
2,Where is Hank?,Film & Video,USD,"$45,000.00",$220.00,failed,3,US,$220.00,$220.00,"$45,000.00"
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,USD,"$5,000.00",$1.00,failed,1,US,$1.00,$1.00,"$5,000.00"
4,Community Film Project: The Art of Neighborhoo...,Film & Video,USD,"$19,500.00","$1,283.00",canceled,14,US,"$1,283.00","$1,283.00","$19,500.00"

In [166]:
stats = ks_data.describe(percentiles=[0.5, 0.99], include=['float64'])
stats

,goal,pledged,usd pledged,usd_pledged_real,usd_goal_real
count,"$378,661.00","$378,661.00","$374,864.00","$378,661.00","$378,661.00"
mean,"$49,080.79","$9,682.98","$7,036.73","$9,058.92","$45,454.40"
std,"$1,183,391.26","$95,636.01","$78,639.75","$90,973.34","$1,152,950.06"
min,$0.01,$0.00,$0.00,$0.00,$0.01
50%,"$5,200.00",$620.00,$394.72,$624.33,"$5,500.00"
99%,"$400,000.00","$134,830.68","$96,244.58","$122,628.40","$338,224.11"
max,"$100,000,000.00","$20,338,986.27","$20,338,986.27","$20,338,986.27","$166,361,390.71"

In [149]:
stats.iloc[5, 3]

122628.40000000014

In [158]:
ks_data.sort_values(by = ['usd_pledged_real'], ascending = [False]) \
.loc[:, ['name', 'main_category', 'country', 'goal', 'usd_pledged_real']].head(10)

,name,main_category,country,goal,usd_pledged_real
157270,"Pebble Time - Awesome Smartwatch, No Compromises",Design,US,"$500,000.00","$20,338,986.27"
250254,COOLEST COOLER: 21st Century Cooler that's Act...,Design,US,"$50,000.00","$13,285,226.36"
216629,"Pebble 2, Time 2 + All-New Pebble Core",Design,US,"$1,000,000.00","$12,779,843.49"
289915,Kingdom Death: Monster 1.5,Games,US,"$100,000.00","$12,393,139.69"
282416,Pebble: E-Paper Watch for iPhone and Android,Design,US,"$100,000.00","$10,266,845.74"
293861,The World's Best TRAVEL JACKET with 15 Feature...,Design,US,"$20,000.00","$9,192,055.66"
187652,Exploding Kittens,Games,US,"$10,000.00","$8,782,571.99"
6665,OUYA: A New Kind of Video Game Console,Games,US,"$950,000.00","$8,596,474.58"
309630,"THE 7th CONTINENT – What Goes Up, Must Come Down.",Games,US,"$40,000.00","$7,072,757.00"
271276,"The Everyday Backpack, Tote, and Sling",Design,US,"$500,000.00","$6,565,782.50"

In [157]:
ks_data[(ks_data.usd_pledged_real>stats.iloc[5, 3]) & (ks_data.country != 'US')] \
.loc[:, ['name', 'main_category', 'country', 'goal', 'usd_pledged_real']] \
.sort_values(by=['usd_pledged_real']).head(10)

,name,main_category,country,goal,usd_pledged_real
95586,"Stuckx ""The Bull"" watch - Mechanical & Mecha-q...",Design,NL,"$50,000.00","$122,667.81"
57149,Amazing furniture invention - Magic Sticks!,Design,FR,"$35,000.00","$122,724.56"
14725,SilentKeys: A Keyboard that Protects your Priv...,Technology,FR,"$50,000.00","$122,781.01"
318004,SOLOSOCKS 2.0 - A Unique Solution To Missing S...,Fashion,DE,"$10,000.00","$122,909.64"
5719,Vaughan Oliver Archive,Design,GB,"$80,000.00","$122,943.39"
79594,The RAFINO - Coffee Grind Refining System,Design,CA,"$55,000.00","$122,947.36"
107928,THE ULTIMATE CUTTING BOARD,Design,CA,"$50,000.00","$122,970.37"
124068,Richard Borg's The Great War: French Army expa...,Games,GB,"$12,000.00","$123,011.14"
170932,InkCase i7 Plus: Dual Screen For iPhone 7 Plus,Technology,SG,"$28,000.00","$123,011.18"
265950,See Sense ICON - the intelligent and connected...,Technology,GB,"$24,000.00","$123,072.56"

In [ ]:
ks_data